@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
  margin-top: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s ease-in-out infinite;
}

.path_slow {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  animation: draw 2s ease-in-out;
}

.path_slower {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 25s ease-in-out;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
